[package]

name = "html5ever"
version = "0.26.0"
authors = [ "The html5ever Project Developers" ]
license = "MIT OR Apache-2.0"
repository = "https://github.com/servo/html5ever"
description = "High-performance browser-grade HTML5 parser"
documentation = "https://docs.rs/html5ever"
build = "build.rs"
categories = [ "parser-implementations", "web-programming" ]
edition = "2018"

[dependencies]
log = "0.4"
mac = "0.1"
markup5ever = { version = "0.11", path = "../markup5ever" }

[dev-dependencies]
typed-arena = "1.3.0"

[target.'cfg(bench)'.dev-dependencies]
criterion = "0.3"

[build-dependencies]
quote = "1"
syn = { version = "1", features = ["extra-traits", "full", "fold"] }
proc-macro2 = "1"

[[bench]]
name = "html5ever"
harness = false
