[package]

name = "html5ever"
version = "0.16.0"
authors = [ "The html5ever Project Developers" ]
license = "MIT / Apache-2.0"
repository = "https://github.com/servo/html5ever"
description = "High-performance browser-grade HTML5 parser"
documentation = "https://docs.rs/html5ever"
build = "build.rs"

[lib]
name = "html5ever"

doctest = true

[[test]]
name = "tree_builder"
harness = false

[[test]]
name = "tokenizer"
harness = false

[[test]]
name = "serializer"

[[bench]]
name = "tokenizer"
harness = false

[features]
unstable = ["markup5ever/unstable"]
heap_size = ["markup5ever/heap_size"]

[dependencies]
log = "0.3"
mac = "0.1"
markup5ever = { version = "0.1", path = "../markup5ever" }

[dev-dependencies]
rustc-serialize = "0.3.15"
rustc-test = "0.1.3"

[build-dependencies]
quote = "0.3.3"
syn = { version = "0.11", features = ["full", "visit"] }
