[package]

name = "xml5ever"
version = "0.16.1"
authors = ["The xml5ever project developers"]
license = "MIT / Apache-2.0"
repository = "https://github.com/servo/html5ever"
description = "Push based streaming parser for xml"
documentation = "https://docs.rs/xml5ever/"

homepage = "https://github.com/servo/html5ever/blob/master/xml5ever/README.md"
readme = "README.md"
keywords = ["xml", "xml5", "parser", "parsing"]
exclude = ["xml5lib-tests/*"]
categories = [ "parser-implementations", "web-programming" ]
edition = "2018"

[dependencies]
log = "0.4"
mac = "0.1"
markup5ever = {version = "0.10", path = "../markup5ever" }

[dev-dependencies]
rustc-test = "0.3"
criterion = "0.3"

[[bench]]
name = "xml5ever"
harness = false
